body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #cefcf9;
    background-image: url("../img/pattern.png");
}
h1,
h2,
h3 {
    color: #9B6A6C;
}
.fp-h1 {
    font-size: 40px;
}
#mainheader {
    background-color: #9B6A6C;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;

}

/* Important for the figure fix */
figure {
    margin: 0;
}

footer {
    clear: both;
    width: 100%;
}

/* makes sure that elements display correctly on the page */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

td {
    background-color: white;
}

th {
    background-color: #9B6A6C;
}

hr.hrclass {
    background-color: black;
    width: 100%;
    height: 1px;
    /* border-top: 0.1px solid black */
  }