body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #cefcf9;
    background-image: url('img/pattern.png');
}

#mainheader {
    background-color: #9B6A6C;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

/* Important for the figure */
figure {
    margin: 0;
}

footer {
    clear: both;
    width: 100%;
}

/* makes sure that elements display correctly on the page */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}